body {
    height: 95vh;
    /* background-image: radial-gradient(#ef9188,#f2bb92); */
    background-image: radial-gradient(#f2bb92,#ef9188);
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding-top: 3rem;
  }

  .social-item {
    width: 40rem;
    background-color: #fff;
    opacity: 0.5;
    color: black;
    height: 5rem;
    margin: auto;
    border-radius: 0.5rem;
  }

  @media (max-width: 768px) {
    .social-item {
      width: 20rem;
      height: 3.5rem;
    }
  }