body {
    height: 95vh;
    /* background-image: radial-gradient(#ef9188,#f2bb92); */
    background-image: radial-gradient(#f2bb92,#ef9188);
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding-top: 3rem;
  }

  p, a {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin: auto;
    padding-top: 0;
    text-decoration: none;
    }

  .social-item {
    width: 40rem;
    background-color:hsla(100, 100%, 100%, 0.5);
    color: black;
    margin: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
  }

  .GTA {
    background-color: #f2bb92;
    color: black;
  }

  @media (max-width: 768px) {

    h1 {
      font-size: 2.5rem;
      margin-bottom: 5rem;
    }
    .social-item {
      width: 20rem;
      padding: 0.3rem;
    }
    
    p, a {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin: auto;
    padding-top: 0;
    text-decoration: none;
  }

  .icon {
    width: 20px
  }
  }

  

  .icon {
    padding-left: 1rem;
  }